section {
    background-color: #111216;
    width: 100%;
    flex: 1;
}

section ol li {
    margin: 0.5vh 4vh;
}

section ol li:nth-last-child(1) {
    margin: 0.5vh 5vh;
}

section ol li a img {
    width: 20px;
    height: 20px;
}