#centralPageMenu {
    display: grid;
    grid-template-columns: 3fr 12fr;
}

#centralimage {
    width: 25%;
    height: auto;
    display: block;
    margin: 10vh auto;
    margin-bottom: 2vh;
}

#buttondiv {
    display: block;
    margin: 5vh auto;
    height: 7%;
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}