section {
    background-color: #111216;
    width: 100%;
    flex: 1;
}

.indent {
  margin-left: 2rem;
}

.selector {
    font-weight: bold;
    color: cyan;
}

.property {
    font-weight: bold;
    color: orange;
}

.value {
    font-weight: bold;
    color: palevioletred;
}

section ul {
    margin-top: 1.5vh;
    margin-bottom: 4vh;

}

section ul li {
    margin: 0.15vh 4vh;
}

h4 {
    margin-left: 2.2vh;
}