*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Comic Neue", cursive;
    color: rgb(187, 188, 190);
}

strong {
    color: rgb(206, 206, 206);
}