section {
    background-color: #111216;
    width: 100%;
    flex: 1;
}

h3 {
    margin-bottom: 3vh;
}

.attribute {
    color: rgb(23, 163, 34);
    font-weight: bold;
}

.property {
    font-weight: bold;
    color: rgb(250, 186, 68);
}

.value {
    font-weight: bold;
    color: palevioletred;
}

.noIndent {
    text-indent: 0;
}