section {
    background-color: #111216;
    width: 100%;
    flex: 1;
}

h3::before {
    content: "→ "
    
}

section div p {
    margin-left: 2rem;
    text-indent: 0;
    margin-bottom: 0;
}

section div ul li {
    margin-left: 1rem;
}

section div ul {
    margin-bottom: 2.5vh;
}

.listTitle {
    margin-left: 3rem;
    margin-top: 2.5vh
}

.list {
    margin-left: 4rem;
}